{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
{{ super() }}
<h1>Please fill out the form</h1>
<form method="POST" action="/create">
                          <input type="text" name="name">
                          <input type="submit" value="Submit">
</form>
{% endblock %}