{% extends 'base.html' %}

{% block title %}Read{% endblock %}

{% block content %}
{{ super() }}

<h1>Database Results!</h1>
{% for key, value in results_dict.items() %}
<h2>ID: {{ key }} Name: {{ value }} </h2>
{% endfor %}

{% endblock %}